.hpbar {
    color: #ff0000 !important;
    background: #ff0000 !important;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

.mpbar {
    color: #0000ff;
    background: #0000ff;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

.cpumeter {
    color: #0000ff;
    background: #0000ff;
    border: 0;
    height: 18px;
    width: 50px;
    border-radius: 9px;
}

.memmeter {
    color: #0000ff;
    background: #0000ff;
    border: 0;
    height: 35px;
    width: 50px;
    border-radius: 9px;
}

.hpbar::-webkit-progress-value {
    background: greenyellow;
    border-radius: 50px;
}

.hpbar::-webkit-progress-bar {
    background: #eee;
    border-radius: 50px;
}

.mpbar::-webkit-progress-value {
    background: blue;
    border-radius: 50px;
}

.mpbar::-webkit-progress-bar {
    background: #eee;
    border-radius: 50px;
}

.cpumeter::-webkit-progress-value {
    background: greenyellow;
}

.cpumeter::-webkit-progress-bar {
    background: lightgray;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.memmeter::-webkit-progress-value {
    background: red;
}

.memmeter::-webkit-progress-bar {
    background: lightgray;
    border-left: 1px solid black;
    border-right: 1px solid black;
}