.board {
    display: block;
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

#opponent, #player {
    height: 100px;
    width: 600px;
    text-align: center;
    vertical-align: middle;
    font-size: large;
    margin: auto;
}

.square {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin: -2px 0 0;
    padding: 0;
    border: none;
}

.square_white {
    background-color: aliceblue;
}

.square_black {
    background-color: dimgrey;
}

.chess-board {
    margin: 0 auto;
    position: relative;
    background: transparent url(?op=board.gif) no-repeat 0 0;
    background-size: 100%;
    width: 600px;
    height: 600px;
}

.chess-board div {
    position: absolute;
    vertical-align: top;
    width: 73px;
    height: 73px;
    padding: 0;
    margin: 0;
}

.chess-board .wP {
    background: transparent url(?op=set.gif) -1px -1px;
}

.chess-board .wN {
    background: transparent url(?op=set.gif) -76px -1px;
}

.chess-board .wB {
    background: transparent url(?op=set.gif) -151px -1px;
}

.chess-board .wR {
    background: transparent url(?op=set.gif) -226px -1px;
}

.chess-board .wQ {
    background: transparent url(?op=set.gif) -301px -1px;
}

.chess-board .wK {
    background: transparent url(?op=set.gif) -376px -1px;
}

.chess-board .bp {
    background: transparent url(?op=set.gif) -1px -76px;
}

.chess-board .bn {
    background: transparent url(?op=set.gif) -76px -76px;
}

.chess-board .bb {
    background: transparent url(?op=set.gif) -151px -76px;
}

.chess-board .br {
    background: transparent url(?op=set.gif) -226px -76px;
}

.chess-board .bq {
    background: transparent url(?op=set.gif) -301px -76px;
}

.chess-board .bk {
    background: transparent url(?op=set.gif) -376px -76px;
}

.chess-board .ec {
    background: transparent url(?op=set.gif) -451px -1px;
}

main {
    text-align: center;
    width: 100%;
    margin: auto;
}

.menu_icon {
    display: inline-block;
    height: 100%;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}