main {
    width: 100%;
    height: 100%;
}

main #form {
    position: absolute;
    display: block;
    /*padding: auto;*/
    padding: 20px;
    width: 300px;
    top: 40%;
    left: 50%;
    margin: -74px auto auto -170px;
    /*height: 200px;*/
    
}

#form .row {
    height: 40px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

#form .row label {
    display: none;
}

#form .row input {
    width: 100%;
    height: 100%;
    float: right;
    text-align: center;
    font-size: 22px;
}

#form .separator {
    width: 100%;
    height: 40px;
}

#form .button {
    font-size: 20px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    cursor: pointer;
}

.button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/* latin */
@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    src: local('Aclonica'), local('Aclonica-Regular'), url(?op=font.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#logo {
    width: 320px;
    height: 180px;
    color: #000;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-size: 64px;
    margin: 5% auto auto;
}

.element {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.element p {
    line-height: 1;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
}

#sdew_1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 120px;
    top: 8px;
    left: -1px;
}

#sdew_2 {
    font-family: 'Aclonica', sans-serif;
    font-size: 40px;
    top: 115px;
    left: -1px;
}