.block {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid black;
    width: 275px;
}

.effect {
    display: inline-block;
    height: 14px;
    width: 14px;
    margin: 1px;
    border: 1px solid black;
}

.fail {
    color: red;
    font-weight: bold;
    display: inline-block;
    padding: 1px 5px 1px 5px;
}

.ok {
    color: greenyellow;
}

#console {
    color: white;
    background: black;
    height: 170px;
    overflow-y: auto;
}

#code {
    width: 90%;
    height: 30px;
    padding-left: 15px;
    background: black;
    color: white;
    font-weight: bold;
}

#run {
    background: black;
}

#code_eval {
    width: 9%;
    height: 30px;
    background: black;
    text-align: center;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#menu {
    display: inline-block;
    height: 100%;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

#show-status {
    display: inline-block;
    height: 100%;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

#show-console {
    display: inline-block;
    height: 100%;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

#show-config {
    display: inline-block;
    height: 100%;
    margin: 5px;
    font-size: 30px;
    cursor: pointer;
}

#cpu {
    display: inline-block;
    width: 205px;
    height: 100%;
    float: right;
}

#mem {
    display: inline-block;
    width: 50px;
    height: 100%;
    float: right;
}

#threads {
    display: inline-block;
    height: 100%;
    width: 200px;
    float: right;
}

#time {
    display: inline-block;
    height: 100%;
    float: right;
    margin-right: 20px;
    font-size: 200%;
}

#shutdown {
    display: none;
    width: 210px;
    height: 100%;
    font-weight: bold;
}

.enabled::before {
    content: "✔ ";
}

.disabled::before {
    content: "✘ ";
}