header {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    background-color: lightgray;
    width: 100%;
}

main {
    padding: 40px 0 0 0;
}

main.consoled {
    padding-bottom: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

aside.menu {
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #555;
    width: 200px;
}

aside.menu ul {
    width: 100%;
    padding: 0;
}

aside.menu li {
    height: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    list-style: none;
    padding: 3px;
}

aside.menu li a {
    color: #ffffff;
    text-decoration: none;
}

aside.threads {
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #555;
    width: 120px;
    padding: 5px;
}

aside.threads span {
    display: block;
    width: 100%;
    height: 20px;
    text-align: center;
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

aside.threads li {
    height: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    list-style: none;
    padding: 3px;
}

aside.config {
    position: fixed;
    top: 40px;
    left: 0;
    background-color: #555;
    width: 200px;
}

aside.config ul {
    width: 100%;
    padding: 0;
}

aside.config li {
    height: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
    list-style: none;
    padding: 3px;
    cursor: pointer;

}

#message {
    background-color: lightgray;
    position: fixed;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    padding: 25px;
    border-radius: 5px;
}